*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
}


/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,600;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');


.App {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-color: black;
  /* background:url('https://res.cloudinary.com/mselbekk-com/image/upload/v1640450973/Group_62_myc998.png');
  background-repeat: no-repeat;
  background-size: cover; */
}

h1 {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}





